<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BMI-Calculator</title>
</head>
<body>
  <ul>
    <li>
      <span>体重:</span>
      <input type="number" class="weight">
    </li>
    <li>
      <span>身高:</span>
      <input type="number"class='height'>
    </li>
    <li>
      <button class="cal-btn">计算</button>
    </li>
    <li>
      <span>BMI:</span>
      <span class="bmi-content"></span>
    </li>
  </ul>
  <script src="./index.js"></script>


</body>
</html>